/*****hanu*****/
/* #hanu(e871d461930b46f7) #css starts */
.headere871d461930b46f7 img {
    max-height: 35px
}
.navbar-light .navbar-nav .nav-link {
    color: #3B3B3B
}
.headere871d461930b46f7 .navbar-light .navbar-nav .nav-link:hover {
    color: #FF6600
}
.headere871d461930b46f7 .btnregister {
    background-color: #FF6600;
    border-radius: 0px;
    color: #fff
}
/* #hanu(e871d461930b46f7) #css ends */
/*****hanu*****/

/*****cion*****/
    /* #cion(calltoactionca75l1dtxe0) #css starts  */
    .calltoactionca75l1dtxe0 .fdb-block {
        padding: 2.5rem 0
    }
    .calltoactionca75l1dtxe0 h1 {
        font-size: 32px
    }
    .calltoactionca75l1dtxe0 h3 {
        margin-top: 15px
    }
    .calltoactionca75l1dtxe0 .btn-light {
        border: 1px solid #FF6600;
        background-color: #FF6600;
        color: #fff;
        border-radius: 0px;
        font-weight: 600
    }
    .calltoactionca75l1dtxe0 .btn-light:not(:disabled):not(.disabled):active{
        border: 1px solid #FF6600;
        background-color: #FF6600;
        color: #fff;
        border-radius: 0px;
        font-weight: 600
    }
    @media (min-width: 768px) {
        .calltoactionca75l1dtxe0 .pt-md-5, .py-md-5 {
            padding-top: 1rem!important
        }
    }
    /* #cion(calltoactionca75l1dtxe0) #css ends  */
/*****cion*****/

/*****caavo*****/
    /* #caavo(caavoduJuy9P4WAKtH2J) #css starts  */
    .caavoduJuy9P4WAKtH2J .fdb-block {
        padding: 7.5rem 0
    }
    .caavoduJuy9P4WAKtH2J .lead {
        font-size: 20px
    }
    .caavoduJuy9P4WAKtH2J .btn-outline-primary {
        border-radius: 0px;
        color: black;
        border-color: #fff;
        font-weight: 600
    }
    .caavoduJuy9P4WAKtH2J .btn-outline-primary:hover,
    .btn-outline-primary:not(:disabled):not(.disabled):active {
        color: #fff;
    background-color: #FF6600;
    border-color: #FF6600;
    font-weight: 700
    }
    /* #caavo(caavoduJuy9P4WAKtH2J) #css ends  */
/*****caavo*****/

/*****campbell*****/
    /* #campbell(campbelldy9djhgjfg) #css starts  */
    .campbelldy9djhgjfg h1{
        padding: 2.5rem 0;
        font-size: 32px
    }
    /* #campbell(campbelldy9djhgjfg) #css ends  */
/*****campbell*****/

/*****candella*****/
    /* #candella(candella3wq12a3) #css starts  */
    .candella3wq12a3 a{
        color: #FF6600
    }
    .candella3wq12a3 a:hover {
        color: #FF6600
    }
    /* #candella(candella3wq12a3) #css ends  */
/*****candella*****/

/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 4.5rem 0
}
h2{
    font-size: 20px
}
.fayete8bna5e4lc .fdb-block .fdb-box {
    padding: 1.75rem 2.5rem
}

.fayete8bna5e4lc .fdb-block .fdb-touch {
    border-top: solid 0.3125rem #FF6600
   }


.fayete8bna5e4lc a{
    font-weight: 600;
    color: black
     }
     .fayete8bna5e4lc a:hover{
        font-weight: 600;
        color: #FF6600
         }
     
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****cash*****/
    /* #cash(c1486b52e923e265f) #css starts  */
    .counterc1486b52e923e265f h2{
        color: #FF6600;
        margin-top: 15px;
        font-weight: 600
    }
    .counterc1486b52e923e265f .BG{
        background-color:#fff
    }
    .counterc1486b52e923e265f .fa{
        margin-top: 10px;
        font-size: 40px
    }

    /* #cash(c1486b52e923e265f) #css ends  */
/*****cash*****/

/*****falcon*****/
/* =============== #faq-list #affiliate-page #falcon start =============== */
.c617bbc778c75015{
    padding: 2.5rem 0
}
.c617bbc778c75015 h3{
    font-size: 32px
}
/* =============== #faq-list #affiliate-page #falcon end =============== */
/*****falcon*****/

/*****ford*****/
    /* #ford(bf5e57dc82a907a3) #css starts */
    .footerbf5e57dc82a907a3 .footerBG {
        background-color: rgba(0, 0, 0, 0.2);
        color: #3B3B3B;
        font-weight: 600;
    }
    .footerbf5e57dc82a907a3 .BG {
        background-color: #fff
    }
    .footerbf5e57dc82a907a3 h6 {
        font-size: 16px
    }
    .footerbf5e57dc82a907a3 h6:hover {
        color: #FF6600
    }
    .footerbf5e57dc82a907a3 .text-white {
        color: #3B3B3B!important;
    }
    .footerbf5e57dc82a907a3 .fa {
        background-color: lightgreen
    }
    /* #ford(bf5e57dc82a907a3) #css ends */
/*****ford*****/